.header-top{
    background-color: black;
}

.header-top-logo{
    width: 5rem;
}

.ms_bg_jumbotron{
    height: 750px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ms_banner_returnal{
    height: 100%;
    width: 50%;
}

.ms_bottone_arancione{
    background-color: #cd3d0f;
}


.ms_relative{
    position: relative;
}

.ms_absolute_bot{
    position: absolute;
    bottom: 5px;
}

.ms_height{
    height: 100%;
}

.ms_border_radius{
border-radius: 10px;
}

.ms_img:hover{
    padding: 2px 2px;
    border: 2px solid #0070D1;
}

.ms_link_nolimits{
    text-decoration: none;
}

.ms_card_info{
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    border-bottom-color: transparent;
}

.ms_blue_border:hover > .ms_card_info{
    border-bottom-color: blue 
}