body{
    overflow-x: hidden;
}

.header-top{
    background-color: black;
}

.header-top-logo{
    width: 5rem;
}

.ms_bg_jumbotron{
    height: 750px;
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ms_bg_takestwo{
    height: 750px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ms_relative_takestwo{
    position: relative;
}

.ms_absolute_bot_takestwo{
    position: absolute;
    top: 150px;
}


.ms_banner_returnal{
    height: 100%;
    width: 50%;
}

.ms_bottone_arancione{
    background-color: #cd3d0f;
}


.ms_relative{
    position: relative;
}

.ms_absolute_bot{
    position: absolute;
    bottom: 5px;
}

.ms_height{
    height: 100%;
}

.ms_border_radius{
border-radius: 10px;
}

.ms_img{
    padding: 2px 2px;
    border: 2px solid transparent;
}

.ms_img:hover{
    border: 2px solid #0070D1;
}

.ms_link_nolimits{
    text-decoration: none;
}


.ms_thumb_blueborder{
    border-bottom: 2px solid transparent;
}

.ms_thumb_blueborder:hover{
    border-bottom: 2px solid #0070D1;
}


.ms_bg_black{
    background-color: #1f1f1f;
}


.ms_button_grigio{
    background-color: #d9dadc;
    border-color: #d9dadc;
    color: #4977e5;
}

.ms_container_topo{
    background-color: #bebcbb;
}

.ms_img_playplus{
    width: 50%;
    height: 50%;
}

.ms_pplus img{
    width: 50%;
}


.ms_container_blu_scuro{
    background-color: #161c3b;
}

.ms_psnow img{
    width: 50%;
}

.ms_button_bianco{
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: black;
}

.ms_container_blu_chiaro{
    background-color: #00439c;
}

.ms_list{
    list-style: none;}

.ms_language{
    width: 1.5em;
}

